<section class="page">
    <section class="head">
        <a href="/">
            <div class="logo">
                🇵🇱
            </div>
            <div class="headers">
                <h1>{{.Site.Title}}</h1>
                <h2>{{.Site.Params.subtitle}}</h2>
            </div>
        </a>
        <a href="/contact/" class="contacts">контакты</a>
        <div style="clear: both;"></div>
    </section>

    <p class="hello">
        ⚠️ Этот сайт не обновляется с 2019 года, и информация представленная здесь может быть устаревшей.<br>
        Задавайте ваши вопросы в <a href="https://t.me/polska_czat">чате в телеграме</a>.
    </p>
</section>
