<section class="page">
    <section class="head">
        <a href="/">
            <div class="logo">
                🇵🇱
            </div>
            <div class="headers">
                <h1>{{.Site.Title}}</h1>
                <h2>{{.Site.Params.subtitle}}</h2>
            </div>
        </a>
        <a href="/contact/" style="float: right; font-size: 90%; font-weight: 200;">контакты</a>
        <div style="clear: both;"></div>
    </section>

    <p style="border: 2px solid rgba(0,0,0,0.1); padding: 10px; border-radius: 5px;">
        Мы — 👩🏼Стася, 🧔🏻Илья и 👧🏼Ева, семья из трёх человек.<br>Переехали из 🇷🇺 Санкт-Петербурга в 🇵🇱 Гданьск. Ведём <a href="https://t.me/chechannel">канал о Польше</a> и нашем быте.
    </p>
</section>