{{ define "main" }}

  <h1 class="content-title">{{ .Title }}
    {{ if eq .Params.type "post" }}
      <span class="content-date">{{ .Date.Format "02/01/2006" }}</span>
    {{ end }}
  </h1>

  {{ with .Description }}
    <p class="description">{{ . }}</p>
  {{ end }}

  {{ if .Params.images }}
  {{ $image := index (.Params.images) 0 }}
  <div class="fixed-height-post-image">
    <amp-img class="cover" src="{{ $image }}" width="400" height="300" layout="fill"></amp-img>
  </div>
  {{ end }}

  <article>
    {{ .Content }}
  </article>

  {{ with .Params.tags }}
    <section class="tags">
      <strong>#</strong>
      {{ range . }}
      <a href="/tags/{{ . | urlize }}/" class="label">{{ . }}</a>
      {{ end }}
    </section>
  {{ end }}

  {{ if eq .Params.type "post" }}
  <div class="suggestions">
    <h3 style="text-align: center">Читайте также</h3>
    <div class="flex grow one two-600">

      {{ with .NextInSection }}
      <div>
        <a href="{{ .Permalink }}">
            <div class="card">
              {{ if .Params.images }}
               {{ $image := index (.Params.images) 0 }}
                <div class="fixed-height-container">
                  <amp-img class="cover" src="{{ $image }}" width="160" height="90" layout="fill"></amp-img>
                </div>
              {{ end }}
              <footer>
                <h3>{{.Title}}</h3>
              </footer>
            </div>
        </a>
      </div>
      {{ end }}

      {{ with .PrevInSection }}
      <div>
        <a href="{{ .Permalink }}">
          <div class="card">
            {{ if .Params.images }}
              {{ $image := index (.Params.images) 0 }}
              <div class="fixed-height-container">
                <amp-img class="cover" src="{{ $image }}" width="160" height="90" layout="fill"></amp-img>
              </div>
            {{ end }}
            <footer>
              <h3>{{.Title}}</h3>
            </footer>
          </div>
        </a>
      </div>
      {{ end }}

    </div>
  </div>
  {{ end }}

{{ end }}